# Gateway
PORT=3000
JWT_SECRET=cloudgpu_super_secret_jwt_key
AUTH_SERVICE_URL=http://auth-service:3001
SESSION_SERVICE_URL=http://session-service:3002
CAFE_MGMT_SERVICE_URL=http://cafe-mgmt-service:3003
SETTLEMENT_WORKER_URL=http://settlement-worker:8001
REDIS_URL=redis://redis:6379

# Auth Service
AUTH_PORT=3001
DATABASE_URL=postgres://postgres:postgres@auth-db:5432/auth_db
BCRYPT_ROUNDS=10

# Session Service
SESSION_PORT=3002
AUTH_DB_URL=postgres://postgres:postgres@auth-db:5432/auth_db
SESSION_DB_URL=postgres://postgres:postgres@session-db:5433/session_db

# Cafe Mgmt Service
CAFE_PORT=3003

# GPU Metrics Worker
GPU_PORT=8000
POLL_INTERVAL_SECONDS=60

# Settlement Worker
SETTLE_PORT=8001
